@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}
html {

  overflow-x: hidden;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}


body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #777;
}

#hero{padding-top: 15vh;}

.container {
  max-width: 90%;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
  color: #777;
  text-transform: capitalize;
}
ul {
  list-style-type: none;
}
button {
  border-radius: 5px;
  padding: 17px 30px;
  background: #27ae60;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}
button:hover{
  background: #fff;
  color: #27ae60;
  border: 1px solid #27ae60;
}

button i {
  margin-right: 5px;
}


.shadow {
  box-shadow: 0 0 20px 0 rgb(112 121 138 / 18%);
  
}



.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;

}
.mtop {
  margin-top: 50px;
}